{
	"presets": [
		["@babel/preset-env", {
			"targets": { "node": true },
			"modules": "commonjs"
		}]
	],
	"plugins": [
		["module-resolver", {
			"alias": {
				"commands": "./lib/commands",
				"common": "./lib/common",
				"meta": "./lib/commands/meta",
				"archetypes": "./lib/archetypes",
				"utils": "./lib/utils"
			}
		}],
		["@babel/plugin-proposal-class-properties"],
		["@babel/plugin-transform-shorthand-properties"],
		["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }]
	],
	"env": {
		"test": {
			"plugins": ["istanbul"]
		}
	}
}
