{
	"presets": [
		["@babel/preset-env", {
			"targets": { "node": true },
			"modules": "commonjs"
		}]
	],
	"plugins": [
		["module-resolver", {
			"alias": {
				"synapse": "./lib/synapse",
				"commands": "./lib/commands",
				"common": "./lib/common",
				"environments": "./lib/environments",
				"tasks": "./lib/tasks",
				"utils": "./lib/utils"
			}
		}],
		["@babel/plugin-proposal-class-properties"]
	],
	"env": {
		"test": {
			"plugins": ["istanbul"]
		}
	}
}
