{
	"presets": ["@babel/preset-env"],
	"ignore": ["./node_modules/**/*"],
	"plugins": [
		["module-resolver", {
			"alias": {
				"synapse": "./lib/synapse",
				"commands": "./lib/commands",
				"environments": "./lib/environments",
				"tasks": "./lib/tasks",
				"utils": "./lib/utils"
			}
		}]
	],
	"env": {
		"test": {
			"plugins": ["istanbul"]
		}
	}
}
